/* 
    ! What is clamp(), min(), max(), ch, vw
    ! What is mincontent, maxcontent, justify-self, grid-template-areas, row-gap, column-gap in grid?
    ! What is margin-block, padding-inline, aspect-ratio, offset gap, margin-block-start
    ! What is where and is.


*/

/* -------------------------*/
/*        CUSTOM PROPERTY   */
/* -------------------------*/

:root{
    /* colours */

   --clr-dark: 230 35% 7%;
   --clr-accent: 231 77% 90%; 
   --clr-white: 0 0% 100%;

   /* font=sizes */
   /* --fs-900: 5rem; */
   --fs-900: clamp(5rem, 10vw + 1rem, 9.375rem);
   --fs-800: 3.5rem;
   --fs-700: 1.5rem;
   --fs-600: 1rem;
   --fs-500: 1rem;
   --fs-400: 0.9375rem;
   --fs-300: 1rem;
   --fs-200: 0.875rem;

   /* font-families */

   --ff-serif: "Bellefair", serif;
   --ff-sans-cond: "Barlow-Condensed-Regular", sans-serif;
   --ff-sans-normal: "Barlow-Regular", sans-serif
}
/* TABLET SIZE */
@media (min-width: 35em){
    :root{
        /* --fs-900: 9.375rem; */
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-500: 1.25rem;
        --fs-600: 1.5rem;
    }
}

/* DESKTOP SIZE */
@media (min-width: 45em){
    :root{
         /* font=sizes */
        /* --fs-900: 9.375rem; */
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-500: 1.75rem;
        --fs-400: 1.125rem;
        --fs-300: 1rem;
        --fs-200: 0.875rem;
    }
}

/* -------------------------*/
/*        FONT SETTINGS      */
/* -------------------------*/

/* Fonts  */

@font-face {
    font-family: 'Barlow-Regular';
    src:  url('fonts//Barlow/Barlow-Regular.ttf');
}

@font-face {
    font-family: 'Barlow-Bold';
    src: url('fonts/Barlow/Barlow-Bold.ttf');
}

@font-face {
    font-family: 'Barlow-Condensed-Regular';
    src: url('fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf');
}

@font-face {
    font-family: 'Barlow-Condensed-Bold';
    src: url('fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf');
}

@font-face {
    font-family: 'Bellefair';
    src: url('fonts/Bellefair/Bellefair-Regular.ttf');
}


/* -------------------------*/
/*        RESET STYLES      */
/* -------------------------*/

/* Box sizing */

/* https://piccalil.li/blog/a-modern-css-reset */
/* Hard reset by Eric meyer(mayer). There is also Normalize and Sanitize Reset */

*, *::before, *::after{
    box-sizing: border-box;
}

/* Margins Reset */

body, h1, h2, h3, h4, h5, h6, p, picture, figure{
    margin: 0;
}

/* Set up the body */
body{
    line-height: 1.5;
    min-height: 100vh;
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    background-color: hsl(var(--clr-dark));
    color: hsl(var(--clr-white));

    display: grid;
    grid-template-rows: min-content 1fr;

    overflow-x: hidden;
}

/* Make image easier to work with */
img, picture{
    max-width: 100%;
    display: block;
}

/* Make form elements to work with */
input, button, textarea, select{
    font : inherit;
} 

/* Remove animation for people who have turned them off */
@media (prefers-reduced-motion: reduce){
    *, *::before, *::after{
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* -------------------------*/
/*       UTILITY CLASSES    */
/* -------------------------*/

.d-block{
    display: block;
}

.flex{
    display: flex;
    gap: var(--gap, 1rem);
}

.flex-column{
    flex-direction: column;
}

.grid{
    display: grid;
    gap: var((--gap, 1rem));
}

.flow > *:where(:not(:first-child)){
    margin-top: var(--flow-space, 1rem); 
    /* outline: 1px solid red; */
}

.flow--space-small{
    --flow-space: .5rem;
}

.container{
    padding-inline: 2rem;
    margin-inline: auto;
    max-width: 80rem;
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap; /* added new line*/
    border: 0;
}

/* .skip-to-content:focus{
    position: relative;
    width: max-content;
    height: auto;
    clip: 0;
    background: white;
    color: black;
} */

.skip-to-content{
    position: absolute;
    z-index: 9999;
    background: hsl(var(--clr-white));
    color: hsl(var(--clr-dark));
    padding: .5em 1em;
    margin-inline: auto;
    transform: translateY(-100%);
    transition: transform 500ms ease-in;
}

.skip-to-content:focus{
    transform: translateY(0);
}

/* Colours*/

.bg-dark{
    background-color: hsl(var(--clr-dark));
}

.bg-white{
    background-color: hsl(var(--clr-white));
}

.bg-accent{
    background-color: hsl(var(--clr-accent));
}

.text-dark{
    color: hsl(var(--clr-dark));
}

.text-white{
    color: hsl(var(--clr-white));
}

.text-accent{
    color: hsl(var(--clr-accent));
}


/* Typography */

.numbered-title{
    font-family:var(--ff-sans-cond);
    font-size: var(--fs-500);
    text-transform: uppercase;
    letter-spacing: 4.72px;
}

/* This will affect only the span which are children of the "numbered-title" class */
.numbered-title > span{
    padding-right: 0.5em;
    font-weight: 700;
    color: hsl(var(--clr-white) / .25);
}

.ff-serif{
    font-family: var(--ff-serif);
}

.ff-sans-cond{
    font-family: var(--ff-sans-cond);
}

.ff-sans-normal{
    font-family: var(--ff-sans-normal);
}

.letter-spacing-1{
   letter-spacing:  4.75px;
}

.letter-spacing-2{
    letter-spacing: 2.7 px;
}

.letter-spacing-1{
    letter-spacing:  2.35px;
}

.uppercase{
    text-transform: uppercase;
}

.fs-900{
   font-size: var(--fs-900); 
}

.fs-800{
    font-size: var(--fs-800);
}

.fs-700{
    font-size: var(--fs-700);
}

.fs-600{
    font-size: var(--fs-600);
}

.fs-500{
    font-size: var(--fs-500);
}

.fs-400{
    font-size: var(--fs-400);
}


.fs-300{
    font-size: var(--fs-300);
}

.fs-200{
    font-size: var(--fs-200);
}

.fs-900, .fs-800, .fs-700, .fs-600{
    line-height: 1.1;
}

/* -------------------------*/
/*       COMPONENTS         */
/* -------------------------*/

/* .large-button{
    display: block;
    margin: 2rem 0 0 0;
    padding: 8rem 4.8rem;
    text-decoration: none;
    border-radius: 100%;
} */

/* .large-button{
    display: grid;
    place-items: center;
    padding: 0 2rem;
    text-decoration: none;
    border-radius: 50%;
    aspect-ratio: 1;
} */

.large-button{
    display: grid;
    position: relative;
    z-index: 1;
    place-items: center;
    padding: 0 2rem;
    text-decoration: none;
    border-radius: 50%;
    aspect-ratio: 1;
}

.large-button::after{
    content: '';
    position: absolute;
    background-color: hsl(var(--clr-white) / .15);
    /* background: red; */
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.large-button:hover::after, .large-button:focus::after{
    opacity: 1;
    transform: scale(1.5);
}

/* ********** */

.large-button-inline{
    font-size: 2rem;
    display: inline-grid;
    position: relative;
    z-index: 1;
    place-items: center;
    padding: 0 2rem;
    text-decoration: none;
    border-radius: 50%;
    aspect-ratio: 1;
}

.large-button-inline::after{
    content: '';
    position: absolute;
    background-color: hsl(var(--clr-white) / .15);
    /* background: red; */
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.large-button-inline:hover::after, .large-button-inline:focus::after{
    opacity: 1;
    transform: scale(1.5);
}

/* .primary-navigation{
    --gap: 8rem;
    --underline-gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
} */

.primary-navigation{
    /* acts like the top, right, bottom, left when using position (TRBL pattern) */
    --gap: clamp(1.5rem, 5vw, 3.5rem);
    --underline-gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsl(var(--clr-dark) / .95);
    backdrop-filter: blur(1rem);
}

.primary-navigation a{
    text-decoration: none;
}

.primary-navigation a > span{
    font-weight: 700;
    margin-right: .5em;
}

@supports (backdrop-filter: blur(1rem)) {
    .primary-navigation{
        background: hsl(var(--clr-white) / .05);
        backdrop-filter: blur(1rem);
    }
}

.mobile-nav-toggle{
    display: none;
}

@media (max-width: 35rem){
    .primary-navigation{
        position: fixed;
        /* acts like the top, right, bottom, left when using position (TRBL pattern) */
        inset: 0 0 0 20%;
        z-index: 100;
        flex-direction: column;
        --underline-gap: .8rem;
        list-style: none;
        padding: min(20rem, 20vh) 2rem;
        margin: 0;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
    }

    .primary-navigation[data-visible="true"]{
        transform: translateX(0);
    }

    /* To remove the border underline on hover effor after us " > *"  instead of "> .active"*/
    .primary-navigation.underline-indicator > .active{
        border: 0
    }

    .mobile-nav-toggle{
        display: block;
        position: absolute;
        z-index: 200;
        right: 1rem;
        top: 2rem;
        background: transparent;
        background-image: url(./assets/shared/icon-hamburger.svg);
        background-position: center;
        background-repeat: no-repeat;
        width: 1.5rem;
        aspect-ratio: 1;
        border: 0;
    }

    .mobile-nav-toggle[aria-expanded="true"]{
        background-image: url(./assets/shared/icon-close.svg);
    }

    .mobile-nav-toggle:focus-visible{
        /* outline: 5px solid red; */
        /* outline-offset: 5px; */
    }

    /* .mobile-nav-toggle:focus{
        outline: 5px solid red;
        outline-offset: 5px;
    } */
}

@media (min-width: 35em){
    .primary-navigation{
        padding-inline: clamp(3rem, 7vw, 7rem);
    }
}

@media (min-width: 35em) and (max-width: 44.999em){
    /* .primary-navigation{
        padding-inline: 3rem;
    } */

    .primary-navigation a > span{
        display: none;
    }
}

@media(min-width: 45em){
    
    /* .primary-header{
        position: relative;
    } */

    .primary-header::after{
        content: '';
        display: block;
        position: relative;
        height: 1px;
        background: hsl(var(--clr-white) / .25);
        margin-right: -2.5rem;
        width: 100%;
        order: 1;
        /* left: 8rem; */
    }

    nav{
        order: 2;
    }

    .primary-navigation{
        margin-block: 2rem;
    }
}

/* Primary Header */
.logo{
    margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}

.primary-header{
    justify-content:space-between;
    align-items: center;
}

/* .underline-indicator::after{
    content: '';
    width: 100px;
    height: 100px;
    background: orange;
    display: block;
} */

.underline-indicator > *{
    padding: var(--underline-gap, 0.5rem) 0;
    border: 0;
    border-bottom: .2rem solid hsl(var(--clr-white) / 0);
    cursor: pointer;
    background: transparent;
}

.underline-indicator > *:hover, .underline-indicator > *:focus{
    border-color: hsl(var(--clr-white) / .5);
}

.underline-indicator > .active, .underline-indicator [aria-selected="true"]{
    color:hsl(var(--clr-white) / 1);
    border-color: hsl(var(--clr-white) / 1);
}


/* @media (max-width: 35rem) {
    .underline-indicator > *{
        padding: var(--underline-gap, 1rem) 0;
        border: 0;
        cursor: pointer;
    }

    .underline-indicator > *:hover, .underline-indicator > *:focus{
        border-color: hsl(var(--clr-white) / .5);
        border: 0
    }
    
    .underline-indicator > .active, .underline-indicator [aria-selected="true"]{
        border-color: hsl(var(--clr-white) / 1);
        border: 0;
    }
} */

.tab-list{
    --gap: 2rem;
}

.dot-indicator > *{
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    aspect-ratio: 1;
    padding: .5em;
    background: hsl(var(--clr-white) / .25);
}

.dot-indicator > *, 
.dot-indicator > *:hover, 
.dot-indicator > *:focus{
    background: hsl(var(--clr-white) / .5);
}

.dot-indicator [aria-selected="true"]{
    background-color: hsl(var(--clr-white) / 1);
}

/* .circle-active{
    padding: 1.3em 1.8em;
    background: hsl(var(--clr-white));
    border-radius: 50%;
} */

/* .outer-circle{
    border: 1px solid hsl(var(--clr-white));
    border-radius: 50%;
    padding: 1em 1em;
} */

/* .number-indicator > *{
    padding: 1.5em 1.9em;
    background: hsl(var(--clr-dark));
    border-radius: 50%;;
    text-decoration: none;
    position: relative;
    z-index: 1;
    aspect-ratio: 1;
    color: hsl(var(--clr-white));
    transition: background-color 500ms ease-in, color 1000ms ease-out;
} */

.number-indicator > *{
    text-decoration: none;
    background: hsl(var(--clr-dark));
    color: hsl(var(--clr-white));
    padding: 0.9rem 2rem 0.9rem 1.5rem;
    border-radius: 50%;
    display: block;
    position: relative;
    z-index: 1;
    border: 1px solid white;
    transition: background-color 500ms ease-in;
}

.number-indicator > *::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    left: 0;
    top: 0;
    z-index: -1;
}

.number-indicator > *:hover, 
.number-indicator > *:focus{
    background: hsl(var(--clr-white));
    color: hsl(var(--clr-dark));
}

.small-circle{
    padding: 1.5rem 2rem;
    border-radius: 50%;
    background-color: hsl(var(--clr-dark));
    text-decoration: none;
    position: relative;
    z-index: 1;
    color: hsl(var(--clr-white));
    transition: background-color 500ms ease-out, color 600ms ease-in;
}

.small-circle::after{
    content: '';
    position: absolute;
    border: 1px solid hsl(var(--clr-white));
    padding: 1.5rem 2rem;
    /* background: red; */
    border-radius: 50%;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.small-circle:hover{
    background: hsl(var(--clr-white));
    color: hsl(var(--clr-dark));
}

.large-button{
    display: grid;
    position: relative;
    z-index: 1;
    place-items: center;
    padding: 0 2rem;
    text-decoration: none;
    border-radius: 50%;
    aspect-ratio: 1;
}

.large-button::after{
    content: '';
    position: absolute;
    background-color: hsl(var(--clr-white) / .15);
    /* background: red; */
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.large-button:hover::after, .large-button:focus::after{
    opacity: 1;
    transform: scale(1.5);
}


.dot-indicator > *{
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    aspect-ratio: 1;
    padding: .5em;
    background: hsl(var(--clr-white) / .25);
}

/* -------------------------*/
/* PAGE SPECIFIC BACKGROUND */
/* -------------------------*/

body{
    background-size: cover;
    background-position: bottom center;
}

/* home */
.home{
    background-image: url(./assets/home/background-home-mobile.jpg);
}

@media (min-width: 35rem){
    .home{
        background-position: center center;
        background-image: url(./assets/home/background-home-tablet.jpg);
    }
}

@media (min-width: 45rem){
    .home{
        background-image: url(./assets/home/background-home-desktop.jpg);
    }
}

.crew{
    background-image: url(./assets/crew/background-crew-mobile.jpg);
}

@media (min-width: 35rem){
    .crew{
        background-position: center center;
        background-image: url(./assets/crew/background-crew-tablet.jpg);
    }
}

@media (min-width: 45rem){
    .crew{
        background-image: url(./assets/crew/background-crew-desktop.jpg);
    }
}

.destination{
    background-image: url(./assets/destination/background-destination-mobile.jpg);
}

@media (min-width: 35rem){
    .destination{
        background-position: center center;
        background-image: url(./assets/destination/background-destination-tablet.jpg);
    }
}

@media (min-width: 45rem){
    .destination{
        background-image: url(./assets/destination/background-destination-desktop.jpg);
    }
}

/* -------------------------*/
/*         LAYOUTS          */
/* -------------------------*/

.grid-container{
    text-align: center;
    display: grid;
    /* border: 4px solid limegreen; */
    place-items: center;
    /* padding: 1rem; */
    padding-inline: 1rem;
    padding-bottom: 4rem;
    /* row-gap: 5%; */
    /* place-content: center; */
}

.grid-container p:not([class]){
    max-width: 50ch;
    /* outline: 1px solid limegreen; */
}

.numbered-title{
    grid-area: title;
}

/* Destination layout */

.grid-container--destination{
    --flow-space: 2rem;
    grid-template-areas:
    'title'
    'image'
    'tabs'
    'content';
}

.grid-container--destination > picture{
    grid-area: image;
    max-width: 60%;
    /* align-self: start; */
}

.grid-container--destination > .tab-list{
    grid-area: tabs;
}

.grid-container--destination > .destination-info{
    grid-area: content;
}

.destination-meta{
    flex-direction: column;
    border-top: 1px solid hsl(var(--clr-white) / .1);
    padding-top: 2.5rem;
    margin-top: 2.5rem;
}


.destination-meta p{
    font-size: 1.75rem;       
}

/* crew layout */
.grid-container--crew{
    grid-template-areas:
    'title'
    'image'
    'tabs'
    'content';
}

.grid-container--crew > picture{
    grid-area: image;
    max-width: 60%;
    border-bottom: 1px solid hsl(var(--clr-white) / .1);
}

.grid-container--crew > .dot-indicator{
    grid-area: tabs;
}

.grid-container--crew > .crew-details{
    grid-area: content;
}

.crew-details h2{
    /* color: hsl(var(--clr-white) / .5); */
    opacity: .5;
}


@media (min-width: 35rem){
    .numbered-title{
        justify-self: start;
        margin-top: 2rem;
    }

    .destination-meta{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .grid-container--crew{
        padding-bottom: 0;
        grid-template-areas:
        'title'
        'content'
        'tabs'
        'image';
    }
}


/* @media and screen (min-width: 45rem){} */
/* DESKTOP SIZE */
@media (min-width: 45em){
   .grid-container{
       text-align: left;
       column-gap: var(--container-gap, 2em);
       grid-template-columns: minmax(2em, 1fr)  repeat(2, minmax(0, 40rem)) minmax(2em, 1fr);
       /* grid-template-columns: 2em minmax(0, 40rem) minmax(0, 40rem) 2em; same as above*/
   }

    .grid-container--home{
        padding-bottom: max(6rem, 20vh);
         align-items: end;
    }

    .grid-container--home > *:first-child{
        grid-column: 2;
        /* outline: 1px solid red; */
    }
 
    .grid-container--home > *:last-child{
         grid-column: 3;
         /* outline: 1px solid yellow; */
     }

    .grid-container--destination{
        justify-items: start;
        align-content: start;
        grid-template-areas:
        '. title title .'
        '. image tabs .'
        '. image content .';
    }

    .grid-container--destination > picture, 
    .grid-container > picture {
        max-width: 90%;
    }

    .destination-meta{
        --gap: min(5vw, 6rem);
        justify-content: start;
        /* outline: 1px solid limegreen; */
    }

   .grid-container--crew{
       justify-items: start;
        --flow-space: 2rem;
        grid-template-areas:
        '. title title .'
        '. content image .'
        '. tabs image .';
    }

    /* .grid-container--crew > .dot-indicator{
        justify-self: start;
    } */

    /*? Figure the article not being aligned with the start from 5 hour mark */

    /* article{
        margin-left: -9.5rem;
    } */

    
    /* This can throw something weird with large screen */
    /* .grid-container--crew > picture{
        align-self: end;
    } */
}

.grid-container > *:first-child{
    /* outline: 1px solid red; */
}

.grid-container > *:last-child{
     /* outline: 1px solid yellow; */
}

picture[show="false"]{
    display: none;
}

/* TECHNOLOGY */

.technology{
    background-image: url(./assets/technology/background-technology-desktop.jpg);
    background-position: center center;
}

.tech-headline{
    font-weight: 300;
}

.tech-headline p{
    margin-top: 1rem;
}

.grid-container--tech{
    display: grid;
    padding-bottom: 0;
    grid-template-areas:
    'title'
    'image'
    'tabs'
    'content';
}

.number-indicator{
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.number-indicator > *{
    padding: 0.9rem 1.5rem 0.9rem 1.5rem;
}

.grid-container--tech p:not([class]){
    max-width: 50ch;
    /* outline: 1px solid limegreen; */
}

.tech-info{
    text-align: center;
}

#main{
    padding: 0 0 4rem 0;
}

@media (min-width: 35em){

    .grid-container--tech > picture{
       
    }

    .tech-info p{
        
        /* max-width: 80%; */
    }
}

@media (min-width: 45em){
    body{
        overflow-x: hidden;
    }

    /* .grid-container{
        text-align: left;
        column-gap: var(--container-gap, 2em);
        grid-template-columns:minmax(2em, 1fr) repeat(2, minmax(0, 40)) minmax(2rem, 1fr);
        grid-template-columns: minmax(2em, 1fr) 4rem repeat(2, minmax(0, 40rem));
        grid-template-columns: 2em minmax(0, 40rem) minmax(0, 40rem) 2em; same as above minmax(2em, 1fr);
    } */

    .tech-headline{
        font-size: var(--fs-400);
    }

    .number-indicator{
        flex-direction: column;
        width: 1%;
        justify-self: start;
    }

    .number-indicator > *{
        padding: 0.9rem 2rem 0.9rem 1.5rem;
        justify-self: start;
    }

    .tech-info{
        text-align: left;
    }


    .grid-container--tech{
        grid-template-columns: minmax(2em, 1fr) 4rem repeat(2, minmax(0, 40rem));
        column-gap: var(--container-gap, 2em);
        justify-items: start;
         --flow-space: 2rem;
         grid-template-areas:
         '. title title .'
         '. tabs content image'
         '. tabs content image';
    }

    .grid-container--tech > picture{
        margin-right: -1rem;

    }
}

.grid-container--tech{
    display: grid;
    /* text-align: center; */
    place-items: center;
    padding-inline: 1rem;
    padding-bottom: 4rem;
    column-gap: var(--container-gap, 2em);
}

 .grid-container--tech > picture{
    grid-area: image;
    max-width: 100%;
    justify-self: end;
    /* border-bottom: 1px solid hsl(var(--clr-white) / .1); */
}

.grid-container--tech > .number-indicator{
    grid-area: tabs;
}

.grid-container--tech > .tech-info{
    grid-area: content;
}

.grid-container--tech > .numbered-title{
    grid-area: title;
}
